{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
	<header class="intro-header" style="background-image: url({{ asset('bundles/bloggerblog/img/04b.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                          <h1>Frank&apos;s Blog</h1>
                          <hr class="small">
                          <span class="subheading">{{ blog.title }}</span>
                     </div>
                </div>
            </div>
        </div>
     </header>
	  <!-- section class="main-col" -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<article class="blog">
							<header>
								<div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
								<h2>{{ blog.title }}</h2>
								<h5>Category: <a href="{{ path('BloggerBlogBundle_homepage') }}category/{{ blog.category }}" target="">{{ blog.category }}</a></h5>
								<h5>Tags: <span class="highlight">
								{% for tag in blog.tags %}
									<a href="{{ path('BloggerBlogBundle_homepage') }}tag/{{ tag.tags }}" target="">{{ tag.tags }}</a>,
								{% endfor %} 
								</span></h5>
							</header>
							<img src="{{ asset(['uploads/images/posts/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
							<div>
							  {% autoescape 'html' %}
								<p>{{ blog.blog | raw }}</p>
							  {% endautoescape %}
							</div>
						</article>
						<section class="comments" id="comments">
							<section class="previous-comments">
								<h3>Comments</h3>
									{% autoescape 'html' %}
										{% include "BloggerBlogBundle:Comment:index.html.twig" with { 'comments': comments| raw } %}
									{% endautoescape %}
								</section>
							<h3>Add Comment</h3>
							{{ render(controller( 'BloggerBlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
						</section>
					</div>
				</div>
			</div>
{% endblock %}