<!DOCTYPE html>
<html {# sonata_seo_html_attributes() #}>
    <head {{ sonata_seo_head_attributes() }}>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('bundles/bloggerblog/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/bloggerblog/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/bloggerblog/assets/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/bloggerblog/css/clean-blog.css') }}" type="text/css" rel="stylesheet" />
	    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Montserrat+Alternates" rel="stylesheet">
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
                    {% block navigation %}
                        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header page-scroll">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        Menu <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="{{ path('BloggerBlogBundle_homepage') }}">Francisco Carracedo</a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="{{ path('BloggerBlogBundle_homepage') }}">Home</a>
                                        </li>
										<!-- li>
                                            <a href="{{ path('BloggerBlogBundle_blogposts') }}">Blog</a>
                                        </li -->
										<!-- li>
                                            <a href="{# path('BloggerBlogBundle_cat_blogposts', {'categorySlug': 'tuxxyblog'}) #}">tuxxyblog_cat</a>
                                        </li -->
                                        <li>
                                            <a href="{{ path('BloggerBlogBundle_about') }}">About</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('BloggerBlogBundle_contact') }}">Contact</a>
                                        </li>
										<li>
											<a href="mailto:fjmc81@gmail.com" style="padding:10px; cursor:pointer;">
												<span class="fa-stack fa-lg" style="cursor:pointer;">
													<i class="fa fa-circle fa-stack-2x"></i>
													<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</li>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container -->
                         </nav>
                    {% endblock %}

                    {% block body %}{% endblock %}
            
			<div class="blocksidebar">
				<hr>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
							{% block sidebar %}{% endblock %}
						</div>
					</div>
				</div>
				<hr>
			</div>

            <!-- hr -->

            <!-- Footer -->
            <footer>
				<div style="background-color:#666666; padding: 30px 0 50px;">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
								
								<p class="copyright text-muted" style="margin-bottom:30px; color:#ffffff;">
										based on Milton Keynes, UK
								</p>
								
								
								<ul class="list-inline text-center">
									<li>
										<a href="mailto:fjmc81@gmail.com">
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</li>
									<li>
										<a href="https://uk.linkedin.com/in/fmoreno81" target="_blank">
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</li>
									<li>
										<a href="../cvdownload/CV-fjmc.pdf" target="_blank" download>
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</li>
									<!-- li>
										<a href="https://www.bebee.com/bee/francisco-javier-moreno-carracedo" target="_blank">
											<img src="{{ asset('bundles/bloggerblog/img/bebees.png') }}" alt="bebee social network" width="50" style="cursor:pointer;" />
											<img class="bebeeblue" src="{{ asset('bundles/bloggerblog/img/bebees-blue.png') }}" alt="bebee social network" width="50" style="cursor:pointer; position:absolute; margin-top:-50px; margin-left:-25px;" />
										</a>
									</li -->
								</ul>
							</div>
						</div>
					</div>
				</div>
					<div class="container">	
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
								<!-- ul class="list-inline text-center">
									<li>
										<a href="../cvdownload/CV-fjmc.pdf" target="_blank" download>
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</li>
								</ul>
								<hr style="width:50%;" -->
								<p class="copyright text-muted">
										Built with  
										<a href="http://symfony.com/" target="_blank"">
											<img src="{{ asset('bundles/bloggerblog/img/symfony_black_02.png') }}" alt="Symfony Framework Logo" width="75" style="cursor:pointer;" />
										</a>
										 - 2.8.~
								</p>
								<hr>
								<p class="copyright text-muted">Copyright &copy; francisco-carracedo.com 2017</p>
							</div>
						</div>
					</div>
            </footer>
        
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/bloggerblog/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bloggerblog/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bloggerblog/js/clean-blog.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/bloggerblog/js/custom.js') }}"></script>
    {% endblock %}
	{{ piwik_code() }}
    </body>
</html>
