{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
	<header class="intro-header" style="background-image: url({{ asset('bundles/bloggerblog/img/02b.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                          <h1>About me</h1>
                          <hr class="small">
                          <span class="subheading">a bit from me... </span>
                     </div>
                </div>
            </div>
        </div>
     </header>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<article>
						<p>Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit
						amet vehicula leo. Morbi urna dui, tempor ac posuere et, rutrum at dui.
						Curabitur neque quam, ultricies ut imperdiet id, ornare varius arcu. Ut congue
						urna sit amet tellus malesuada nec elementum risus molestie. Donec gravida
						tellus sed tortor adipiscing fringilla. Donec nulla mauris, mollis egestas
						condimentum laoreet, lacinia vel lorem. Morbi vitae justo sit amet felis
						vehicula commodo a placerat lacus. Mauris at est elit, nec vehicula urna. Duis a
						lacus nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia Curae.</p>
					</article>
				</div>
			</div>
		</div>
{% endblock %}
