{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}	
	<header class="intro-header" style="background-image: url({{ asset('bundles/bloggerblog/img/03b.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                          <h1>Contact me</h1>
                          <hr class="small">
                          <span class="subheading">Leave your opinion here or whatever ideas you have in mind</span>
                     </div>
                </div>
            </div>
        </div>
     </header>
		<div class="container">
			<div class="row"> 
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<article>
						{% if app.session.flashbag.get('blogger-notice') %}
							<div class="blogger-notice">
								{{ app.session.flash('blogger-notice') }}
							</div>
						{% endif %}    

						<p class="text-center">*Please, bear on mind that you will be answered as soon as possible.</p>
						
						{% autoescape 'html' %}
						<form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
							{{ form_errors(form) }}
							
								{{ form_row(form.name) }}
								{{ form_row(form.email) }}
								{{ form_row(form.subject) }}
								{{ form_row(form.body)}}	
								
							{{ form_rest(form) }}

							<input type="submit" value="Submit" class="btn btn-primary" />
						</form>
						{% endautoescape %}
					</article>
				</div>
			</div>
		</div>					
{% endblock %}
