{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
     <header class="intro-header" style="background-image: url({{ asset('bundles/bloggerblog/img/02b.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                          <h1>Frank&apos;s Blog</h1>
                          <hr class="small">
                          <span class="subheading">Welcome to this website</span>
                     </div>
                </div>
            </div>
        </div>
     </header>
    
  


            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						{% for blog in blogs %}
							<article class="blog">
								<div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
								<header>
									<h2><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
								</header>

								<img src="{{ asset(['uploads/images/posts/', blog.image]|join) }}" />
								{% autoescape 'html' %}
								<div class="snippet">
									<p>{{ blog.blog(300) | raw }} [...]</p>
									<p class="continue"><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">Continue reading...</a></p>
								</div>
								{% endautoescape %}

								<footer class="meta">
									<p>Comments: <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
									<!-- p>Posted by <span class="highlight">{{ blog.author }}</span> at {{ blog.created|date('h:iA') }}</p -->
									<p>Category: <a href="{{ path('BloggerBlogBundle_homepage') }}category/{{ blog.category }}" target="">{{ blog.category }}</a></p>
									<p>Tags: <span class="highlight">
									{% for tag in blog.tags %}
										<a href="{{ path('BloggerBlogBundle_homepage') }}tag/{{ tag.tags }}" target="">{{ tag.tags }}</a>,
									{% endfor %} 
									</span></p>
								</footer>
							</article>
						{% else %}
							<p>There are no blog entries for symblog</p>
						{% endfor %}
						<div class="navigation text-center">
							{{ knp_pagination_render(blogs) }}
						</div>
					</div>
				</div>
			</div>
{% endblock %}
