<section class="section col-lg-3">
    <header>
        <h3>Categories</h3>
    </header>
	<hr style="border-color:#999999;">
    {% for category in categoryBlogs %}
        <article class="comment">
            {% autoescape 'html' %}
			<p><a href="{{ path('BloggerBlogBundle_homepage') }}category/{{ category.category | raw }}"> {{ category.category | raw }} </a></p>
            {% endautoescape %}
        </article>
    {% else %}
        <p>There are no recent categories</p>
    {% endfor %}
</section>

<section class="section col-lg-3">
    <header>
        <h3>Tags</h3>
    </header>
	<hr style="border-color:#999999;">
    {% for tag in tagsBlogs %}
        <article class="comment">
            {% autoescape 'html' %}
			<p><a href="{{ path('BloggerBlogBundle_homepage') }}tag/{{ tag.tags | raw }}"> {{ tag.tags | raw }} </a></p>
            {% endautoescape %}
        </article>
    {% else %}
        <p>There are no recent tags</p>
    {% endfor %}
</section>

<section class="section col-lg-6">
    <header>
        <h3>Latest Comments</h3>
    </header>
    {% for comment in latestComments %}
		<hr style="border-color:#999999;">
        <article class="sidebar comment">
            <header>
                <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': comment.blog.id }) }}#comment-{{ comment.id }}">
                        {{ comment.blog.title }}
                    </a>
                    <em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></em>
                </p>
            </header>
            {% autoescape false %}
            <p>{{ comment.comment(75) |trans }}</p>
            {% endautoescape %}
            </p>
        </article>
    {% else %}
        <p>There are no recent comments</p>
    {% endfor %}
</section>

{#
<!-- section class="section col-lg-6">
    <header>
        <h3>Archive</h3>
    </header>
    {% for archive in archPosts %}
        <article class="comment">
            {% autoescape 'html' %}
			<p><a href="/archive/{{ archive.date | raw }}" target="_blank"> {{ archive.tags | raw }} </a></p>
            {% endautoescape %}
            </p>
        </article>
    {% else %}
        <p>There are no recent archives</p>
    {% endfor %}
</section -->

<!-- section class="section col-lg-6">
    <header>
        <h3>Latest RSS Feeds</h3>
    </header>
    {% for feed in feeds %}
        <article class="comment">
            {% autoescape 'html' %}
            <p><a href="{{ feed.getLink() }}" target="_blank"> {{ feed.getTitle() }} </a>.</p>
            {% endautoescape %}
            </p>
        </article>
    {% else %}
        <!-- p>There are no recent feeds</p -->
    {% endfor %}
</section -->
#}
