{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/screen.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
	{% spaceless %}
		{{ render(controller('BloggerBlogBundle:Page:Sidebar' )) }}
	{% endspaceless %}
{% endblock %}
