<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}symblog{% endblock %} - symblog</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('bundles/bloggerblog/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/bloggerblog/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/bloggerblog/assets/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/bloggerblog/css/clean-blog.css') }}" type="text/css" rel="stylesheet" />
			<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Montserrat+Alternates" rel="stylesheet">
			<link href="{{ asset('bundles/bloggerblog/css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="container">
			<div class="row"> 
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<!-- div>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
							<a href="{{ path('fos_user_security_logout') }}">
								{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
							</a>
						{% else %}
							<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
						{% endif %}
					</div -->

					{% for type, messages in app.session.flashBag.all %}
						{% for message in messages %}
							<div class="{{ type }}">
								{{ message|trans({}, 'FOSUserBundle') }}
							</div>
						{% endfor %}
					{% endfor %}

					<div>
						{% block fos_user_content %}
						{% endblock fos_user_content %}
					</div>
				</div>
			</div>
		</div>	
    </body>
</html>
