.date { margin-bottom: 20px; border-bottom: 1px solid #ccc; font-size: 24px; color: #666; line-height: 30px }
.blog { margin-bottom: 20px; }
.blog img { width: 190px; float: left; padding: 5px; border: 1px solid #ccc; margin: 35px 20px 10px 0; }
/*.blog .meta { clear: left; margin-bottom: 20px; }*/
.blog .snippet p.continue { margin-bottom: 0; text-align: right;  }
.blog .snippet p.continue a{ font-style:oblique; }
.blog .meta { 
		font-style: italic; 
		font-size: 16px; 
		color: #333333; 
	}
.blog .meta p {
		margin: 3px 0px 0px !important; 
		line-height: 1.5em;
		width: 100%;
		/*height: 100px;*/
		padding: 5px 0 5px 25px;
		background-color: #e9e9e9;
	}
.blog img.large { width: 300px; min-height: 165px; margin: 35px 20px 0 0 !important; }


#comments span.highlight { color: #7AA3C3; }

.comments { clear: both; }
.comments .odd { background: #eee; }
.comments .comment { padding: 20px; }
.comments .comment p { margin-bottom: 0; font-weight: 300 !important; }
.comments h3 { background: #eee; padding: 10px; font-size: 20px; margin-bottom: 20px; clear: both; }
.comments .previous-comments { margin-bottom: 20px; }


.blogger-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.blogger { font-size: 16px; }
form.blogger div { clear: left; }
/*form.blogger label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }*/
form.blogger input[type="text"],
form.blogger input[type="email"]
    { width: 100%; line-height: 26px; font-size: 20px; min-height: 26px; }
form.blogger textarea { width: 100%; height: 150px; line-height: 26px; font-size: 20px; }
form.blogger input[type="submit"] { width: 100%; line-height: 26px; font-size: 20px; min-height: 26px; }
form.blogger ul li { color: #ff0000; margin-bottom: 5px; }

form.blogger .form-group:last-of-type img.captcha_image{
	margin:0 25% 10px;
	float:left;
	max-width:400px;
	width:100%;
}

@media all and (max-width: 480px) {
	.control-label{
		display:none;
	}
	form.blogger .form-group:last-of-type img.captcha_image{
		margin:0 0 10px;
	}
}

.bebeeblue{
	cursor:pointer; 
	position:absolute;
	margin-top: -50px; 
	margin-left: -25px;
}